server:
  port: 9001

spring:
  application:
    name: atom-service-operator-provider

nacos:
  config:
    server-addr: 124.223.198.143:8848
    namespace: atom-dev
    data-id: operator-provider-dev
    bootstrap:
      enable: true
      logEnable: true
    remote-first: true
    type: yaml
    auto-refresh: true
    max-retry: 10
    config-retry-time: 2333
    config-long-poll-timeout: 46000
    enable-remote-sync-config: true