server:
  port: 9002
  servlet:
    context-path: "/lamp/atom/service/operator"

spring:
  application:
    name: atom-service-operator-consumer

nacos:
  config:
    server-addr: 124.223.198.143:8848
    namespace: atom-dev
    data-id: operator-consumer-dev
    bootstrap:
      enable: true
      logEnable: true
    remote-first: true
    type: yaml
    auto-refresh: true
    max-retry: 10
    config-retry-time: 2333
    config-long-poll-timeout: 46000
    enable-remote-sync-config: true